<table>
    <tr>
        <td>
        {{ .Title }} 
	<br>
	{{ if not .EventStart.IsZero }}
	<span style="font-weight: normal">
		({{ .EventStart.Format "2006-01-02 15:04 MST" }})
	</span>
	{{ end }}
        </td>
    </tr>
    <!--
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    {{ if .Notes }}
    <tr>
        <td>
            Notes
        </td>
        <td>
            {{ .Notes }}
        </td>
    </tr>
    {{ end }}
	-->

    {{ if .LinkOne }}
    <tr>
        <td>
            Link
        </td>
        <td>
            <a href="{{ .LinkOne }}">{{ .LinkOne }}</a>
        </td>
    </tr>
    {{ end }}

    {{ if .LinkTwo }}
    <tr>
        <td>
            <a href="{{ .LinkTwo }}">{{ .LinkTwo }}</a>
        </td>
    </tr>
    {{ end }}
    {{ if .VApp }}
    <tr>
        <td>
            <a href="/join/{{ .ID  }}">Attend and Deploy vApp</a>
        </td>
    </tr>
    {{ end }}
    {{ if or (not .VApp) (not .VAppMandatory) }}
    <tr>
        <td>
	    {{ if .VApp }}
            <a href="/attend/{{ .ID  }}">Attend without vApp</a>
	    {{ else }}
            <a href="/attend/{{ .ID  }}">Attend</a>
	    {{ end }}
        </td>
    </tr>
    {{ end }}
</table>

