<table>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <!--
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    <tr>
        <td>
            Title
        </td>
        <td>
            {{ .Title }}
        </td>
    </tr>
    {{ if .Notes }}
    <tr>
        <td>
            Notes
        </td>
        <td>
            {{ .Notes }}
        </td>
    </tr>
    {{ end }}
	-->

    {{ if .LinkOne }}
    <tr>
        <td>
            Link
        </td>
        <td>
            <a href="{{ .LinkOne }}">{{ .LinkOne }}</a>
        </td>
    </tr>
    {{ end }}

    {{ if .LinkTwo }}
    <tr>
        <td>
            Link
        </td>
        <td>
            <a href="{{ .LinkTwo }}">{{ .LinkTwo }}</a>
        </td>
    </tr>
    {{ end }}
    {{ if .VApp }}
    <tr>
        <td>
            Join!
        </td>
        <td>
            <a href="/join/{{ .ID  }}">Join and Deploy</a>
        </td>
    </tr>
    {{ end }}
    {{ if or (not .VApp) .VAppOptional }}
    <tr>
        <td>
	    {{ if .VApp }}
            Attend (do NOT deploy vApp)
	    {{ else }}
            Attend
	    {{ end }}
        </td>
        <td>
            <a href="/join/{{ .ID  }}">Join</a>
        </td>
    </tr>
    {{ end }}
</table>

