<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and resources
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <title>{{ .title }} - CyberNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/ico" href="/assets/favicon.ico"/>
</head>

<body>
    <div class="container">
        <div class="nav">
            <h1><a href="/">CyberNet</a></h1>
            <div>
                <a href="/">events</a>
                <a href="/questions">questions</a>
                {{ if .user.Admin }}
                <a href="/new">new</a>
                <a href="/config">config</a>
                {{ end }}
                {{ if .user.IsValid }}
                <a href="/users">users</a>
                <a href="/users/{{ .user.Username }}">profile</a>
                <a href="/logout">logout</a>
                {{ else }}
                <a href="/login">login</a>
                {{ end }}
            </div>
        </div>
        <hr>
