{{ template "head.html" . }}

<br>
<div style="display: flex; justify-content: flex-center;">
    <fieldset>
        <legend><h1>Register</h1></legend>
        <form method="POST" action="/register">
            <div>
                <input type="text" name="username" {{ if .username }}value="{{ .username }}"{{ end }} placeholder="Username"></input>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password"></input>
            </div>
            <div>
                <input type="secret" name="secret" {{ if .secret }}value="{{ .secret }}"{{ end }} placeholder="Secret"></input>
            </div>
            <input type="submit" value="Register"/>
        </form>
    </fieldset>
</div>

<p class="msg">
The "secret" is meant to prevent unauthorized account creation.
<br>
If the presenter didn't include a secret, and you need one, please ask :)
</p>

{{ template "message.html" .message }}
{{ template "error.html" .error }}

{{ template "feet.html" }}


{{ template "error.html" .error }}

{{ template "feet.html" }}
